.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml

pycache/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/


*.log
*.pot
*.pyc
CampusEventManagementSystem/db.sqlite3
instance/
media/

/staticfiles/
/static/

.env
.env
.env.
/venv/
/ENV/
/env/
/.venv/

.vscode/
.idea/
*.swp
*.swo

pycache/
*.py[cod]
*$py.class

Pipenv, Poetry
Pipfile.lock
poetry.lock

.mypy_cache/

.cache/
.coverage
htmlcov/

.DS_Store

*.pid
docker-compose.override.yml

coverage.xml

node_modules/

*.bak