<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Athletes</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Event Group</th>
        </tr>
        {% for athlete in athletes %}
        <tr>
            <td>{{ athlete.athlete_id }}</td>
            <td>{{ athlete.first_name }} {{ athlete.last_name }}</td>
            <td>{{ athlete.gender }}</td>
            <td>{{ athlete.event_group }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No athletes found.</td></tr>
        {% endfor %}
    </table>
</body>
</html>