<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Practice Results</h2>
    <table>
        <tr>
            <th>Athlete</th>
            <th>Practice Date</th>
            <th>Event</th>
            <th>Approach</th>
            <th>Gear</th>
            <th>Mark Meters</th>
            <th>Mark Raw</th>
            <th>Season</th>
        </tr>
        {% for result in practice_results %}
        <tr>
            <td>{{ result.athlete.last_name }}</td>
            <td>{{ result.practice_date }}</td>
            <td>{{ result.event }}</td>
            <td>{{ result.approach }}</td>
            <td>{{ result.gear }}</td>
            <td>{{ result.mark_meters }}</td>
            <td>{{ result.mark_raw }}</td>
            <td>{{ result.season }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>