{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice | UWM Track & Field</title>
    <link rel="stylesheet" href="{% static 'css/data.css' %}">
</head>
<body>
 <div class="dashboard-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="{% static 'images/uwmlogo.png' %}" alt="UWM Logo" class="nav-logo">
                <h3>UWM Track and Field Management System</h3>
            </div>
            <nav class="nav-menu">
                <a href="{% url 'home' %}" class="nav-item">Dashboard Home</a>
                <a href="{% url 'athletes' %}" class="nav-item">Athletes</a>
                <a href="{% url 'comp_results' %}" class="nav-item">Competition Results</a>
                <a href="{% url 'fall_testing' %}" class="nav-item">Fall Testing</a>
                <a href="{% url 'practice' %}" class="nav-item active">Practice Data</a>

                {% if request.user.is_superuser %}
                <a href="/admin/" class="nav-item admin-link">Admin Panel</a>
                {% endif %}
            </nav>

            <div class="sidebar-footer">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            </div>
        </aside>

    <main class="main-content">
        <h2>Practice</h2>
        {% if request.user.role != "Student" %}
            <form method="GET" style="margin-bottom: 20px;">
            <input type="text" name="search" placeholder="Search athlete name..." value="{{ search_query }}">
            <button type="submit">Filter</button>
            {% if search_query %}
                 <a href="{% url 'practice' %}">Clear</a>
            {% endif %}
            </form>
        {% endif %}
        <table>
            <tr>
                <th>Athlete</th>
                <th>Practice Date</th>
                <th>Event</th>
                <th>Approach</th>
                <th>Gear</th>
                <th>Mark Meters</th>
                <th>Mark Raw</th>
                <th>Season</th>
                {% if request.user.role != "Student" %}
                <th colspan="2">Actions</th>
                {% endif %}
            </tr>
            {% for result in practice_results %}
            <tr id="row-{{ result.practice_id }}">
                {% if result.practice_id == editing_id %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="practice_id" value="{{ result.practice_id }}" />
                        <td>{{ result.athlete.last_name }}</td>
                        <td><input type="date" name="practice_date" value="{{ result.practice_date|date:'Y-m-d' }}" /></td>
                        <td>
                            <select name="event">
                                <option value="TJ" {% if result.event == 'TJ' %}selected{% endif %}>TJ</option>
                                <option value="LJ" {% if athlete.event == 'LJ' %}selected{% endif %}>LJ</option>
                            </select>
                        </td>
                        <td>
                            <select name="approach">
                                <option value="Short Approach" {% if result.event == 'Short Approach' %}selected{% endif %}>Short Approach</option>
                                <option value="3/4-step" {% if athlete.event == '3/4-step' %}selected{% endif %}>3/4-step</option>
                                <option value="6-step" {% if athlete.event == '6-step' %}selected{% endif %}>6-step</option>
                                <option value="7-step" {% if athlete.event == '7-step' %}selected{% endif %}>7-step</option>
                                <option value="8-step" {% if athlete.event == '8-step' %}selected{% endif %}>8-step</option>
                            </select>
                        </td>
                        <td>
                            <select name="gear">
                                <option value="flats" {% if result.event == 'flats' %}selected{% endif %}>flats</option>
                                <option value="spikes" {% if athlete.event == 'spikes' %}selected{% endif %}>spikes</option>
                            </select>
                        </td>
                        <td><input type="text" name="mark_meters" value="{{ result.mark_meters }}" /></td>
                        <td><input type="text" name="mark_raw" value="{{ result.mark_raw }}" /></td>
                        <td><input type="text" name="season" value="{{ result.season }}"/></td>
                        <td>
                            <input type="hidden" name="_method" value="put" />
                            <button type="submit" class="save-btn">Save</button>
                            <a href="{% url 'practice' %}" class="cancel-btn">Cancel</a>
                        </td>
                    </form>    
                {% else %}
                    <td>{{ result.athlete.last_name }}</td>
                    <td>{{ result.practice_date|date:"Y-m-d" }}</td>
                    <td>{{ result.event }}</td>
                    <td>{{ result.approach }}</td>
                    <td>{{ result.gear }}</td>
                    <td>{{ result.mark_meters }}</td>
                    <td>{{ result.mark_raw }}</td>
                    <td>{{ result.season }}</td>
                    {% if request.user.role != "Student" %}
                    <td>
                        <a href="?edit={{ result.practice_id }}">Edit</button>
                    </td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="practice_id" value="{{ result.practice_id }}" />
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
            
            {% empty %}
            <tr><td colspan="8">No results found.</td></tr>
            {% endfor %}
            {% if user.role != "Student" %}
                <form method="POST">
                    {% csrf_token %}
                    <td><input type="text" name="name"  placeholder="First Name Last Name" required/></td>
                    <td><input type="date" name="practice_date" /></td>
                    <td>
                        <select name="event">
                            <option value="TJ">TJ</option>
                            <option value="LJ">LJ</option>
                        </select>
                    </td>
                    <td>
                        <select name="approach">
                            <option value="Short Approach">Short Approach</option>
                            <option value="3/4-step">3/4-step</option>
                            <option value="6-step">6-step</option>
                            <option value="7-step">7-step</option>
                            <option value="8-step">8-step</option>
                        </select>
                    </td>
                    <td>
                        <select name="gear">
                            <option value="flats">flats</option>
                            <option value="spikes">spikes</option>
                        </select>
                    </td>
                    <td><input type="text" name="mark_meters" placeholder="mark meters"/></td>
                    <td><input type="text" name="mark_raw" placeholder="mark raw" /></td>
                    <td><input type="text" name="season" placeholder="season" /></td>
                    <td>
                        <button type="submit" class="add-btn">Add</button>
                    </td>
                </form>    
            {% endif %}
        </table>
    </main>
</body>
</html>